<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="microbase-2.0-webui">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/res"/>
        <property name="context-root" value="microbase-2.0-webui"/>
        <property name="java-output-path" value="/microbase-2.0-webui/build/classes"/>
    </wb-module>
</project-modules>
